<div class="container p-4">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 mx-auto" style="display: flex; justify-content: center; align-items: center;">
      <div class="card text-center" style="background: none; margin: auto;">
        <div class="card-header formheader">
          <h3>Registrate</h3>
          <p>Somos el sitio nº1 en deliverys!!</p>
        </div>
        <div class="card-body formregistro">
          <form action="/signup" method="POST" >
            <div class="form-group paddingpeola">
              <input type="type" name="username" placeholder="Nombre de usuario" class="form-control" autofocus>
            </div>
            <div class="form-group paddingpeola">
              <input type="email" name="email" placeholder="Email" class="form-control">
            </div>
            <div class="form-group paddingpeola">
              <input type="password" name="password" placeholder="Contraseña" class="form-control">
            </div>
            <div class="form-group paddingpeola">
              <button class="btn btnregistrarse btn-block">
                Registrarse
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>