<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card text-center" style="background: none; margin: auto;">
        <div class="card-header formheader">
          <h3>Entra al sitio nº1 en deliverys!</h3>
          <img src="/img/logo.png" alt="LOGO" class="card-img-top mx-auto m-2 rounded-circle w-50">
        </div>
        <div class="card-body formregistro">
          <form action="/signin" method="POST">
            <div class="form-group paddingpeola">
              <input type="text" name="usuario" placeholder="Usuario" class="form-control" autofocus>
            </div>
            <div class="form-group paddingpeola">
              <input type="password" name="contrasena" placeholder="Contraseña" class="form-control">
            </div>
            <button class="btn btn-primary btn-block">
              Ingresar
            </button>
            <button class="btn btn-secondary btn-block" href="/signup">
              Registrarse
            </button>
          </form>

            
        </div>
      </div>
    </div>
  </div>
</div>